.menu {
    justify-content: space-between;
    width: 100%;
}
.appbar{
    background: linear-gradient(45deg ,#fff1c1, #ffe8ee);

}
.logo{
    margin: -43px;
    /* margin: 6px; */
    height: 174px;
    width: 149px;

}
.icon {
    height: 64px;
    margin-right: 42px;
    /* margin-bottom: 35px; */
    margin-top: 14px;
    margin-left: -50px;
}