
html {
  height:100%;
  overflow: auto
}
body{
 background: linear-gradient(357deg,#fff1c1, #ffe8ee); 
  height: 100%;
  overflow: auto;
}
.svgBoy{
  margin-left: 2em;
  margin-top: -2em;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.orange{
  color: #ffb700;
}
.justify{
  justify-content: space-between;
}

.bodyPost{
  background: linear-gradient(45deg ,#fff1c1, #ffe8ee);
  height: 500%;
}

.App-link {
  color: #61dafb;
}
.MuiContainer-root{
  padding-left:7px !important ;
  padding-right:7px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
